/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: 'Segoe UI', sans-serif;
  height: 100%;
  color: #fff;
}

/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  background: rgba(255, 255, 255, 0.05); /* transparente */
  backdrop-filter: blur(8px);
  color: white;
}

.navbar {
  font-size: 28px;
  
}
.logo{
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    font-size: 28px;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #ffd700;
}

/* HERO SECTION */
.hero {
  height: 100vh;
  background-image: url('Foto\ nano1.png'); /* Reemplazá con tu imagen */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 100px 20px 40px 20px;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3); /* oscurece la imagen */
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 700px;
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 20px;
}


.gallery-section {
  padding: 60px 40px;
  background-color: #fff;
  text-align: center;
}

.gallery-section h2 {
  font-size: 22px;
  letter-spacing: 3px;
  margin-bottom: 30px;
  color: #a38968; /* color similar al original */
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 25px;
  justify-items: center;
  margin-bottom: 60px;
}

.gallery-grid img {
  width: 100%;
  max-width: 250px;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.gallery-grid img:hover {
  transform: scale(1.05);
}
